pdfplumber==0.11.1
simplejson==3.19.2
requests==2.32.2
PyYAML==6.0.1
pillow==10.3.0
reportlab==4.2.2
pandas==2.2.2
loguru==0.7.2
openai==1.35.7
zhipuai==2.1.1.20240620.1
gradio==4.37.2
fastapi==0.111.0
uvicorn==0.30.1
python-multipart==0.0.9
langchain==0.2.11
langchain-openai==0.1.20
langchain_community==0.2.10